
<footer class="footer" th:fragment="bottom">
	<div class="container">
		<div class="footer-top">
			<div class="footer-logo">
			<a href="/">
				<img src="/images/logo.png" alt="Logo">
			</a>
			</div>
			<div class="footer-dropdown">
				<div class="nav-dropdown">
					<button class="nav-dropdown-button">패밀리 사이트</button>
					<div class="nav-dropdown-content">
						<a href="/admin">관리자용 로그인</a> 
						<a href="/partner">판매자용 로그인</a>
					</div>
				</div>
			</div>
			<ul class="footer-links">
				<li><a href="#">회사소개</a></li>
				<li><a href="#">광고제휴문의</a></li>
				<li><a href="#">민원센터</a></li>
				<li><a href="#">개인정보처리방침</a></li>
				<li><a href="#">청소년 보호 정책</a></li>
				<li><a href="#">서비스 이용약관</a></li>
				<li><a href="#">위치정보이용약관</a></li>
				<li><a href="#">사업자 정보확인</a></li>
				<li><a href="#">전자금융거래 이용약관</a></li>
			</ul>
		</div>

		<div class="footer-info">
			<p>
				(주)방잇 | 대표이사 : 전송희 | 사업자 등록번호 : 000-00-00000 <br> 관광사업자 등록번호 :
				제2024-99호 | 주소 : 서울특별시 강남구 테헤란로 | 호스팅서비스 제공자 : 주식회사 방잇<br> 고객센터
				: 0000-0000 (운영 시간 09시 - 익일 새벽 3시)
			</p>
		</div>
	</div>
</footer>