<header class="banner-header" th:fragment="top">
	<div class="container">
		<div class="logo">
			<a href="/">
				<img src="/images/logo.png" alt="Logo">
			</a>
		</div>
		<nav>
			<ul>
				<li><a href="#">지역 탐색</a></li>
				<li><a href="#">추천 숙소</a></li>
				<li><a href="/reservation">예약조회</a></li>

				<!-- 로그인/회원가입 링크 -->
				<li sec:authorize="isAnonymous()">
					<a href="/login" id="loginLink">로그인/회원가입</a>
				</li>

				<!-- 사용자 정보 및 로그아웃 표시 -->
				<li sec:authorize="isAuthenticated()">
					<a href="/logout">로그아웃</a>
					<i sec:authentication="principal.email"></i>
				</li>
				<!-- 파트너가 아닌 사용자에게만 보이는 링크 -->
				<li sec:authorize="!hasRole('ROLE_PARTNER')">
					<a href="/partner-login">파트너로 가입하기</a>
				</li>
			</ul>
		</nav>
	</div>
</header>