<header class="banner-header" th:fragment="top">
	<div class="container">
		<div class="logo">
			<a href="/">
				<img src="/images/logo.png" alt="Logo">
			</a>
		</div>
		<nav>
			<ul>
				<li><a href="/group-list">모임</a></li>
				<li><a href="/mem/review">모임후기</a></li>

				<!-- 로그인/회원가입 링크 -->
				<li sec:authorize="isAnonymous()"><a href="/login"
					id="loginLink">로그인/회원가입</a></li>

				<!-- 사용자 정보 및 로그아웃 표시 -->
				<li sec:authorize="isAuthenticated()">
					<a href="/mypage"><span sec:authentication="principal.nickName"></span></a>&nbsp;&nbsp;
					<form action="/logout" method="post">
						<button type="submit">로그아웃</button>
						<input type="hidden" th:if="${_csrf}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
					</form>
				</li>
			</ul>
		</nav>
	</div>
</header>