<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{views/commons/layout :: layout(~{::head} ,~{::main} ) }">
<head>
<title>Review Detail</title>
<link rel="stylesheet" href="/css/review/review_detail.css">
</head>
<body>
	<main class="main-content container">
		<div th:if="${errorMessage}" class="error-message">
			<p th:text="${errorMessage}"></p>
		</div>
		<div th:if="${review != null}" class="review-detail"
			th:attr="data-review-id=${review.reId}">
			<p class="review-created-at">
				작성 시간: <span th:text="${formattedTime}"></span>
			</p>
			<p class="review-nickname">
				작성자: <span
					th:text="${review.user != null ? review.user.nickName : 'Anonymous'}"></span>
			</p>
			<h2 class="review-title" th:text="${review.title}"></h2>
			<!-- 이미지가 로드되지 않을 때를 대비한 기본 이미지 설정 -->
			<img th:src="${imageUrl}" alt="Review Image"
				onerror="this.onerror=null; this.src='/images/default-image.png';" />
			<p class="review-content" th:utext="${review.content}"></p>

		</div>
	</main>
</body>
</html>
