body {
    font-family: 'Noto Sans KR', 'Roboto', 'Segoe UI', Arial, sans-serif;
    background-image: url('/images/6465103.jpg');
    background-size: 90% auto; /* 이미지 크기를 3배로 확대 */
    background-position: center -260px; /* 이미지를 중앙에 위치시키고 50픽셀 위로 이동 */
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
}

main {
    padding-top: 40px; /* 헤더의 높이만큼 패딩 추가 */
}

.my-container {
    display: flex;
    max-width: 1200px;
    min-height:622px;
    margin: 120px auto;
    margin-bottom: 140px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.left-column {
    width: 25%;
    padding: 30px;
    background-image: #ffffff;
    background-size: cover; /* 이미지가 요소의 크기에 맞게 조절되도록 설정 */
    background-position: center; /* 이미지가 요소의 중앙에 위치하도록 설정 */
    background-repeat: no-repeat; /* 이미지가 반복되지 않도록 설정 */
    color: #2c3e50;
}

.left-column h1 {
    margin-left: 15px; /* 왼쪽 여백을 20px로 설정 */
    font-weight: bold;
}

.right-column {
    width: 75%;
    margin-top: 73px;
    height: 480px;
    padding: 40px;
}

h1 {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.menu-item {
    padding: 12px 15px;
    margin-bottom: 10px;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.3s ease;
    font-size: 16px;
    border: 1px solid #ccc;
}

.menu-item:hover {
    background-color: rgba(236, 240, 241, 0.5); /* 흰색 배경 */
    color: #2c3e50; /* 호버 시 글자색 검정 */
    transform: translateX(5px);
}

.profile-info {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ccc;
    height:326px;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.profile-info p {
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.profile-info strong {
    display: inline-block;
    width: 120px;
    color: #7f8c8d;
    font-size: 14px;
}

.profile-info span {
    font-size: 16px;
    color: #2c3e50;
}

#edit-profile {
    background-color: #85A5DB;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

#edit-profile:hover {
    background-color: #0046FE;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .left-column, .right-column {
        width: 100%;
    }
}

.profile-summary {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ffffff; /* 기본 배경 색상 */
    background-size: cover;
    background-position: center;
    margin-right: 15px;
}

/* 이미지가 등록되지 않은 경우 스타일 */
.profile-pic::before {
    content: '프로필 사진 없음';
    color: #7f8c8d;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.profile-details p {
    margin: 5px 0;
    color: #2c3e50;
}
.group-info {
	background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
/*수정 버튼 css*/
 .button-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .btn {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;
    }
    .btn-primary {
        background-color: #85A5DB;
    	color: #fff;
    }
    .btn-primary:hover {
        background-color: #0046FE;
    }
    .btn-secondary {
        background-color: #85A5DB;
   		color: #fff;
        text-decoration: none;
        margin-left: 10px;
    }
    .btn-secondary:hover {
        background-color: #0046FE;
    }
/*프로필 수정 목록*/
.profile-info input[type="text"],
.profile-info input[type="tel"],
.profile-info input[type="date"] {
    border-radius: 5px; /* 모서리 둥글게 설정 */
    border: 1px solid #ddd; /* 연한 회색 테두리 설정 */
    font-size:16px;
}

    
/*프로필 모임 목록*/
.group-list {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ccc;
    height:326px;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    overflow-y: auto; /* 내용이 넘칠 경우 수직 스크롤 활성화 */
}

.group-list h2 {
    color: #2c3e50;
    font-size: 18px;
    margin-top: 20px;
    width: 160px; /* 원하는 고정 너비 설정 */
}

.group-list ul {
	list-style-type: none;
	padding: 0;
}
.group-list div {
    display: flex; /* 자식 요소들을 한 줄로 배치 */
    margin-left: 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}
.group-list li {
	margin-bottom: 15px;
}

.group-list a {
	display: block;
	text-decoration: none; /* 밑줄 제거 */
	color: #7f8c8d;
	font-size: 14px;
}

.group-list li:hover {
    background-color: #e9e9e9;
}

.recaptcha{
	margin-top: 20px;
	margin-left: 20px;
}

.category-icon {
	width: 16px;
	height: 16px;
	margin-right: 4px;
}