<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{views/commons/layout :: layout(~{::head} ,~{::main} ) }">

<head>

<script src="/js/index.js"></script>
</head>

<body>

	<main>
		<section class="banner">
			<div class="image-container">
				<div class="banner-text">
					<h1>같은 취향, 같은 공간, 소모임에서 만나요.</h1>
					<h2>
						만남을 찾는 <span>분들의 선택</span>, <span class="highlight">MEMEM</span>
					</h2>
				</div>
			</div>
		</section>
		
		<!-- Category Section -->
		<section class="category">
			<form action="/search/places" method="get" class="category-container">
				<input type="hidden" name="checkinDate" value="2024-08-28">
				<input type="hidden" name="checkoutDate" value="2024-08-29">
				<input type="hidden" name="region" value="SEOUL"> <input
					type="hidden" name="guestCount" value="2">

				<div class="category-item">
					<button type="submit" name="accommodationTypes" value="HOTEL"
						class="category-item">
						<img src="/images/puppy.jpg" alt="호텔/리조트">
					</button>
					<p>호텔/리조트</p>
				</div>

				<div class="category-item">
					<button type="submit" name="accommodationTypes" value="MOTEL"
						class="category-item">
						<img src="/images/puppy.jpg" alt="모텔">
					</button>
					<p>모텔</p>
				</div>
				<div class="category-item">
					<button type="submit" name="accommodationTypes" value="PENSION"
						class="category-item">
						<img src="/images/puppy.jpg" alt="펜션/풀빌라">
					</button>
					<p>펜션/풀빌라</p>
				</div>
				<div class="category-item">
					<button type="submit" name="accommodationTypes" value="CAMPING"
						class="category-item">
						<img src="/images/puppy.jpg" alt="캠핑">
					</button>
					<p>캠핑/글램핑</p>
				</div>
				<div class="category-item">
					<button type="submit" name="themes" value="PET_FRIENDLY"
						class="category-item">
						<img src="/images/puppy.jpg" alt="애견동반">
					</button>
					<p>애견동반</p>
				</div>
				<!-- 추가 카테고리 아이템들 -->
			</form>
		</section>

		<!-- Hotel Section -->
		<section class="groups">
			<div class="container">
				<div class="container-text">
					<h2>핫한 모임</h2>
					<p>모임에서 만남을 즐겨보세요</p>
				</div>
				<div class="group-cards">
					<div class="group-card">
						<a href="/place/detail/1"> <img src="/images/puppy.jpg"
							alt="Hotel">
						</a>
						<div class="group-name">
							<h3>모임 이름 1</h3>
							<p>인원수 : 30명</p>
						</div>
					</div>
					<!-- 다른 호텔 카드 추가 -->
				</div>
			</div>
		</section>

		<!-- Profile Section -->
		<section class="reviews">
			<div class="reviews-container">
				<div class="container-text">
					<h2>모임 후기</h2>
					<p>다양한 모임에 가입해보세요</p>
				</div>
				<div class="review-cards">
					<div class="review-card">
						<a href="/place/detail/2"> <img src="/images/puppy.jpg"
							alt="Hotel">
						</a>
						<div class="overlay">
							<h3>호텔 이름 2</h3>
						</div>
					</div>
					<!-- 다른 프로필 카드 추가 -->
				</div>
			</div>
		</section>

		<!-- Premium Picks Section -->
		<section class="premium-picks">
			<div class="container">
				<div class="container-text">
					<h2>이번 주 최고의 모임</h2>
				</div>
				<div class="pick-cards">
					<div class="pick-card">
						<a href="/place/detail/3"> <img src="/images/puppy.jpg"
							alt="Pick">
						</a>
						<div class="pick-overlay">
							<h3>모임 이름 3</h3>
							<p>모임 설명</p>
						</div>
					</div>
					<!-- 다른 픽 카드 추가 -->
				</div>
			</div>
		</section>
	</main>
</body>

</html>