<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{views/commons/layout :: layout(~{::head} ,~{::main} ) }">

<head>
<meta charset="UTF-8">

<link rel="stylesheet" href="/css/group/list.css">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="/js/group/list.js"></script>
</head>

<body>
	<main>
		<section class="group-banner">
				<div class="banner-text">
				</div>
		</section>

		<!-- Category Section -->
		<section class="category">
			<form action="/search/places" method="get" class="category-container">
				<ul>
					<li class="category-item">
						<a href="#">전체</a>
					</li>
					
					<li class="category-item">
						<img src="/images/culture.png" alt="문화">
						<a href="#">문화</a>
					</li>
	
					<li class="category-item">
						<img src="/images/activity.png" alt="액티비티">
						<a href="#">액티비티</a>
					</li>
					<li class="category-item">
						<img src="/images/food.png" alt="푸드">
						<a href="#">푸드</a>
					</li>
					<li class="category-item">
						<img src="/images/travel.png" alt="여행">
						<a href="#">여행</a>
					</li>
					<li class="category-item">
						<img src="/images/seldev.png" alt="자기계발">
						<a href="#">자기계발</a>
					</li>
					<li class="category-item">
						<img src="/images/party.png" alt="파티">
						<a href="#">파티</a>
					</li>
					<li class="category-item">
						<img src="/images/date.png" alt="연애">
						<a href="#">연애</a>
					</li>
					<li class="category-item">
						<img src="/images/game.png" alt="게임">
						<a href="#">게임</a>
					</li>
				</ul>
				<!-- 추가 카테고리 아이템들 -->
			</form>
		</section>

		<!-- Profile Section -->
		<section class="groups">
			<div class="groups-container">
				<div class="container-text">
				</div>
				<div class="group-cards">
					<div class="group-card">
						<div class="group-img-container">
							<a href="/place/detail/2"> <img src="/images/puppy.jpg"></a>
						</div>
						<div class="text-container">
							<p>노래</p>
							<h3>서울 노래방</h3>
							<span class="location">서울시 노원구</span>
							<div class="member"><img class="people" src="/images/group.png"> 2/30</div>
						</div>
					</div>
					<div class="group-card">
						<div class="group-img-container">
							<a href="/place/detail/2"> <img src="/images/puppy.jpg"></a>
						</div>
						<div class="text-container">
							<p>노래</p>
							<h3>서울 노래방</h3>
							<span class="location">주 7회 · 34/39</span>
							<div class="member"><img class="people" src="/images/group.png"> 2/30</div>
						</div>
					</div>
					<div class="group-card">
						<div class="group-img-container">
							<a href="/place/detail/2"> <img src="/images/puppy.jpg"></a>
						</div>
						<div class="text-container">
							<p>노래</p>
							<h3>서울 노래방</h3>
							<span class="location">주 7회 · 34/39</span>
							<div class="member"><img class="people" src="/images/group.png"> 2/30</div>
						</div>
					</div>
					<div class="group-card">
						<div class="group-img-container">
							<a href="/place/detail/2"> <img src="/images/puppy.jpg"></a>
						</div>
						<div class="text-container">
							<p>노래</p>
							<h3>집에 보내줘 너무 집에 가고 싶어 이게 뭐야 너무 지루해 집가고 싶어</h3>
							<span class="location">9.1(일) · 4주 간 주 7회 · 34/39</span>
							<div class="member"><img class="people" src="/images/group.png"> 2/30</div>
						</div>
					</div>
					<!-- 다른 프로필 카드 추가 -->
				</div>
			</div>
		</section>
	</main>
</body>

</html>