<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>프로필</title>
</head>
<body>
	<div th:fragment="content">
    <h1>내 모임</h1>
	    <div class="profile-info">
	        <p><strong>내가 가입한 모임</strong> <span>골골때리는 그놈들</span></p>
	        <p><strong></strong> <span>맛집냠냠</span></p>
	        <p><strong></strong> <span>책을 읽는다 북북</span></p>
	        <p><strong>내가 만든 모임</strong><span>20대~30대 신촌 모여라</span></p>
	        <p><strong></strong> <span>같이 즐겨요 와인</span></p>
	        <p><strong></strong> <span>달리고 달린다. 벙모임</span></p>
	    </div>
    </div>
</body>
</html>