@charset "UTF-8";

.image-container {
	max-width: 1200px;
	min-width: 800px;
	margin: 0 auto;
	position: relative;
	backdrop-filter: blur(8px); /* 블러 정도 설정 */
	padding-bottom: 75px;
	padding-top: 75px;
	margin-bottom: 285px;
}

.banner {
	background-image: url('/images/banner3.jpg');
	background-size: cover;
	background-position: center;
	height: 75vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	position: relative;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.2); /* 이미지 위에 오버레이 */
	z-index: 1;
}

/************************* 헤더 *******************************************/
.banner-header {
	width: 100%;
	padding: 5px 0;
	position: fixed; /* 헤더가 배너 영역 내에서 고정되도록 설정 */
	top: 0;
	left: 0;
	z-index: 10; /* 다른 요소들 위에 배치되도록 z-index 높임 */
	background-color: rgba(248, 248, 248, 0.3); /* 반투명 배경색 */
	backdrop-filter: blur(10px); /* 배경을 흐리게 처리 */
}

.banner-header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	list-style: none;
	display: flex;
	gap: 20px;
	padding: 0;
	margin: 0;
}

nav a {
	text-decoration: none;
	color: #333;
	position: relative; /* ::after를 위한 위치 기준 */
	padding-bottom: 5px; /* 하단 줄이 들어갈 공간 확보 */
}

nav a::after {
	content: ''; /* 줄을 추가할 내용 없음 */
	position: absolute;
	width: 0;
	height: 2px;
	background-color: #0046FE; /* 줄 색상 */
	left: 0;
	bottom: 0;
	transition: width 0.3s ease; /* 부드러운 애니메이션 효과 */
}

nav a:hover::after {
	width: 100%; /* hover 시 줄이 전체 너비로 확장 */
}

.signup-btn {
	padding: 8px 16px;
	border: 1px solid #333;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.8); /* 투명 배경 */
}

.banner-text {
	position: relative;
	z-index: 2;
}

.banner h1 {
	font-size: 2.5em;
	margin-bottom: 0.5em;
}

.banner h2 {
	font-size: 1.8em;
	font-weight: normal;
}

.banner h2 span.highlight {
	font-weight: bold;
}

.front {
	width: 24px; 
	height: 24px;
	margin-top: 5px;
	margin-right: 7px;
}

/**************** 모임 ********************************************/

.fade-in-out-element {
	opacity: 0; /* 처음에 투명하게 설정 */
	visibility: hidden; /* 처음에 보이지 않도록 설정 */
	transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
	/* opacity와 visibility 전환을 부드럽게 함 */
}

.fade-in-out-element.animate__fadeIn {
	opacity: 1; /* 애니메이션 실행 시 투명도 1로 변경 */
	visibility: visible; /* 애니메이션 실행 시 보이도록 변경 */
}

.fade-in-out-element.animate__fadeOut {
	opacity: 0; /* 애니메이션 실행 시 투명도 0으로 변경 */
	visibility: hidden; /* 애니메이션 실행 시 보이지 않도록 변경 */
}

.groups-container {
	width: 90%;
	max-width: 1600px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.groups {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px 0;
	min-height: 800px;
}

.groups-container-text h2 {
	color: #87bfff;
    font-weight: 700;
    font-size: 24px;
    justify-content: center;
    display: flex;
    margin-bottom: 0.5em;
    padding-top: 0.2em;
}

.groups-container-text p {
	margin-top: 0px;
    font-size: 44px;
    margin-bottom: 40px;
    color: #777;
}

.group-cards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	max-height: calc(2 * ( 200px + 40px));
	overflow: hidden;
}

.group-card {
    display: flex;
    background-color: #f9f9f9;
    border-radius: 10px;
    border: 1px solid #f9f9f9;
    overflow: hidden;
    width: 100%; /* 너비를 100%로 설정 */
    min-width: 600px;
    max-width: 600px; /* 최대 너비 설정 */
    box-sizing: border-box; /* 패딩과 테두리를 포함한 너비 설정 */
    position: relative; /* 오버레이를 위한 상대적 위치 설정 */
}

.group-img-container {
	flex: 0 0 35%;
	padding: 10px;
	width: 100%;
}

.group-img-container img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 5px;
}

.member{
	margin-top: 20px;
	color: #999696;
}

.people{
	width: 16px;
	height: 16px;
}

.text-container {
    flex: 1; /* 남은 공간을 모두 차지하도록 설정 */
    min-width: 0; /* 필요한 경우 너비를 줄일 수 있도록 설정 */
    padding: 10px; /* 내부 여백 추가 */
}

.text-container p {
    display: inline-block; /* 요소를 인라인 블록으로 설정하여 컨텐츠에 맞게 크기 조정 */
    font-size: 18px;
    border: 1px solid #87bfff;
    background-color: #87bfff;
    border-radius: 30px;
    color: #faf8f8;
    padding: 5px 10px; /* 텍스트 주변에 여백을 추가하여 시각적 여유를 줌 */
}


.text-container h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    display: block;
    max-width: 100%;
    font-size: 24px;
    padding-right: 10px; /* 오른쪽 여백 추가 */
    box-sizing: border-box; /* 패딩을 너비에 포함 */
    margin-bottom: 10px;
}

.text-container .location {
	font-size: 20px;
	color : #999696;
}

/* 오버레이 설정 */
.group-card .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity 0.3s ease-in;
	color: #fff;
	text-align: center;
	border-radius: 10px;
	padding: 20px;
	box-sizing: border-box;
	pointer-events: none; /* 오버레이가 클릭 이벤트를 방해하지 않도록 설정 */
}

.group-card:hover img {
	transform: scale(1.05);
	transition: transform 0.5s ease;
}

.group-card:hover .overlay {
	opacity: 1;
}

/********************* 리뷰 **********************************************/
.reviews {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px 0;
	text-align: center;
	min-height: 600px;
	background-color: #f4f4f4;
}

.review-container{
	width: 90%;
    max-width: 1200px;
    min-width: 800px;
    margin: 0 auto;
    position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-text {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.container-text h2 {
	font-weight: 700;
    font-size: 24px;
	justify-content:center;
	display: flex;
	margin-bottom: 0.5em;
	color: #1c8a6a;
	padding-top: 0.2em; /* 위쪽 여백을 추가하여 텍스트 위치 조정 */
}

.container-text p {
	margin-top: 0px;
	font-size: 44px;
	margin-bottom: 40px;
	color: #777;
}

.review-cards {
	text-align : left;
	display: flex;
	justify-content: space-between;
	width: 100%; /* 부모 요소의 너비를 100%로 설정 */
	height: auto; /* 높이는 자동으로 설정 */
	gap: 20px;
	flex-wrap: wrap;
}

.review-card {
	flex: 1 1 calc(25% - 20px); /* 한 줄에 4개의 카드를 배치하도록 설정 */
	box-sizing: border-box;
	max-width: calc(25% - 20px); /* 부모의 25%에서 간격을 뺀 값을 최대 너비로 설정 */
}

.review-card img {
	width: 275px;
	height: 275px;
	border-radius: 8px;
}

.review-name p {
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	overflow: hidden;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.link{
	width: 180px;
    height: 68px;
    background: #85A5DB;
    border-radius: 68px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: -.4px;
    color: #f2f0f0;
    margin-top: 26px;
    text-decoration: none;
}

.link:hover {
    background: #0076FF;
}
/***********************섹션3 ****************************/
.premium-picks {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px 0;
	text-align: center;
	min-height: 800px;
}

.picks-container-text p {
    margin-top: 0px;
    font-size: 44px;
    margin-bottom: 40px;
    color: #777;
}
.picks-container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}

.premium-picks h2 {
	font-weight: 700;
    font-size: 24px;
    justify-content: center;
    display: flex;
    padding-top: 0.2em;
	color:#f43630;
	font-size: 24px;
	font-weight : 700;
	margin-bottom: 0.5em;
}

.pick-cards p {
	font-size: 1em;
	margin-bottom: 20px;
	color: #777;
}

.pick-cards {
	display: flex;
	justify-content: center;
	gap: 20px;
	flex-wrap: wrap;
}

.pick-card {
	position: relative;
	overflow: hidden;
	flex: 1 1 calc(33.33% - 20px); /* 한 줄에 3개의 카드를 배치하도록 설정 */
	box-sizing: border-box;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	cursor: pointer; /* 클릭 가능한 영역이라는 힌트를 주기 위해 추가 */
}

.pick-card img {
	width: 100%;
	height: 400px;
	object-fit: cover; /* 비율을 유지하며 잘리지 않도록 설정 */
	border-radius: 8px;
}

.pick-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.2);
	color: white;
	padding: 10px;
	text-align: left;
	border-radius: 0 0 10px 10px;
	width: 100%; /* 부모 요소의 너비를 100%로 설정 */
	height: 100%;
	box-sizing: border-box; /* 패딩이 포함된 전체 너비 계산 */
	word-wrap: break-word; /* 긴 단어를 강제로 줄바꿈 */
	pointer-events: none; /* 오버레이가 클릭 이벤트를 방해하지 않도록 설정 */
}

.pick-card a {
	display: block;
	position: relative;
}

.pick-card h3 {
	margin: 0;
	font-size: 1.2em;
}

.pick-card p {
	margin: 5px 0 0;
	font-size: 0.9em;
	color: white;
}